@keyframes xivunread {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.guilds-wrapper {
  width: 58px

  .scroller-wrap {
    width: 63px;
  }

  // TODO: .unread-mentions-indicator-top
  // TODO: .unread-mentions-indicator-bottom
  .guilds {
    padding-top: .2rem
    padding-left: 0

    .guild {
      clickThrough()
      box-sizing: border-box
      margin: .2rem
      padding: .5rem
      width: 3rem
      height: 3rem
      border: 1px solid #2d2d2d
      border-radius: .5rem
      background: linear-gradient(to bottom, rgba(255, 255, 255, .6), rgba(0, 0, 0, 0) 20%), radial-gradient(circle, #4a1818, #ae3e3e)
      box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .4)

      &:after {
        border-radius: .5rem
        background: radial-gradient(ellipse 260% 40px at top, #fff3, #fff3 30%, transparent 35%)
        box-shadow: 0 1px 1px -1px white inset, 0 -1px 1px -1px rgba(255, 255, 255, .4) inset
      }

      &:hover {
        cursor: pointer
      }

      &:hover:after {
        background: radial-gradient(ellipse 260% 40px at top, #fff3, #fff3 30%, transparent 35%), rgba(255, 255, 255, .1)
      }

      &.active:after,
      &.selected:after {
        top: -2px
        right: -2px
        bottom: -2px
        left: -2px
        border: 3px solid #fff8cb
        box-shadow: 0 0 2px #fff8cb, inset, 0 0 2px #fff8cb
      }

      &.unread {
        &:before {
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          margin: 0
          width: initial
          height: initial
          border-radius: .5rem
          background: transparent
          box-shadow: 0 0 2px 2px #fff8cb
        }

        .animated &:before {
          animation: xivunread 1s ease-in-out infinite alternate
        }
      }

      .guilds-add-inner {
        font-size: 0
        font-family: RPGAwesome

        &:before {
          gold-tint()
          position: relative
          top: -5px
          left: -1px
          content: ''
          font-size: 2rem
          line-height: 2.25rem
        }
      }

      .badge {
        top: 0
        right: 0
        bottom: 0
        left: 0
        width: initial
        height: initial
        border-radius: .5rem
        background: transparent
        box-shadow: 0 0 2px 2px #b87aff
        font-size: 0
      }

      .guild-inner {
        margin-top: -.5rem
        margin-left: -.5rem
        width: calc(3rem - 2px)
        height: calc(3rem - 2px)
        border-radius: .45rem !important
        background: transparent !important

        a {
          padding-top: .4rem

          &.avatar-small {
            width: 3rem
            height: 3rem
            background-position: -1px top
            background-size: 3rem
            filter: drop-shadow(0px 0px 1px black)

            &:not(:empty) {
              gold-tint()
              font-weight: bold
              font-size: 2rem !important
              line-height: 2.25rem
            }
          }
        }

        .friends-icon {
          background: transparent !important
          font-size: 2rem
          font-family: RPGAwesome

          &:before {
            gold-tint()
            position: relative
            top: -9px
            left: -2px
            content: ''
          }
        }
      }
    }
  }
}
