.guilds-wrapper {
  width: 60px

  // TODO: .unread-mentions-indicator-top
  // TODO: .unread-mentions-indicator-bottom
  .guilds {
    padding-top: .2rem
    padding-left: 0

    .guild {
      red-button()

      &.unread {
        &:before {
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          margin: 0
          width: initial
          height: initial
          border-radius: .5rem
          background: transparent
          box-shadow: 0 0 2px 2px #fff8cb
        }
      }

      .guilds-add-inner {
        font-size: 0
        font-family: RPGAwesome

        &:before {
          gold-tint()
          position: relative
          top: -5px
          left: -1px
          content: ''
          font-size: 2rem
          line-height: 2.25rem
        }
      }

      .badge {
        top: 0
        right: 0
        bottom: 0
        left: 0
        width: initial
        height: initial
        border-radius: .5rem
        background: transparent
        box-shadow: 0 0 2px 2px #b87aff
        font-size: 0
      }

      .guild-inner {
        margin-top: -.5rem
        margin-left: -.5rem
        width: calc(3rem - 2px)
        height: calc(3rem - 2px)
        border-radius: .45rem !important
        background: transparent !important

        a {
          padding-top: .4rem

          &.avatar-small {
            width: 3rem
            height: 3rem
            background-position: -1px top
            background-size: 3rem

            &:not(:empty) {
              gold-tint()
              font-weight: bold
              font-size: 2rem !important
              line-height: 2.25rem
            }
          }
        }

        .friends-icon {
          background: transparent !important
          font-size: 2rem
          font-family: RPGAwesome

          &:before {
            gold-tint()
            position: relative
            top: -9px
            left: -2px
            content: ''
          }
        }
      }
    }
  }
}
