.messages-wrapper {
  clickThrough(after)
  clickThrough(before)

  &:after {
    background: linear-gradient(to bottom, #313031 0, transparent 1%, transparent 99%, #313031 100%)
  }

  &:before {
    left: initial
    width: 3px
    background: radial-gradient(#0004, transparent 66%)
  }

  .message-group {
    border-bottom: none !important

    .avatar-large {
      item-button()
      background-size: 44px
      background-repeat: no-repeat
    }

    .old-h2 {
      display: flex
      margin-top: -5px
      margin-left: -10px

      .username-wrapper {
        flex: 1
      }
    }

    .message-text [class*='btn-'] {
      visibility: visible
      margin-top: 3px
      opacity: .4
    }

    .message {
      .message-text,
      .accessory {
        margin-top: 0
        padding: 0 .7rem
      }

      .message-text {
        float: left
        overflow: visible
        padding-top: .2rem
        padding-bottom: .5rem
        width: calc(100% - 22px)

        .markup {
          margin-top: 3px
        }
      }

      .accessory {
        clear: left
        padding-bottom: .5rem

        // TODO: embeds
      }

      .accessory:empty {
        padding-bottom: 0
      }

      &.first {
        clickThrough(after)

        .message-text,
        .accessory {
          background: #0004 !important
        }

        &:after {
          top: 16px
          right: initial
          bottom: initial
          left: -10px
          width: 10px
          height: 10px
          background: #0004
          clip-path: polygon(0 0, 100% 100%, 100% 0)
        }
      }
    }

    .mentioned .message-text {
      clickThrough(after)
      clickThrough(before)

      &:before {
        background: rgba(141, 255, 151, .1) !important
      }

      &:after {
        width: 0
        border-left-color: rgb(141, 255, 151) !important
        border-radius: 0
      }
    }

    .message + .message {
      background: #0004 !important
    }
  }
}
