#app-mount {
  .app {
    padding: .5rem
    background: linear-gradient(to bottom, #76726e, #313031 15px) repeat-x
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, .4) inset
  }

  .layer-3QrUeG:first-child > div > :nth-child(2) {
    clickThrough(before)

    &:before {
      horizontal-line(top, false)
      top: 45px
      left: 0
      z-index: 666
    }
  }

  [class*='scroller-'] {
    margin-right: 5px
  }
}

// global scrollbar style
::-webkit-scrollbar {
  visibility: visible !important
  width: 5px !important
  border: none !important
  background: transparent !important
}

::-webkit-scrollbar-button {
  display: none !important
}

::-webkit-scrollbar-thumb {
  visibility: visible !important
  border: none !important
  border-radius: 3px !important
  background: #fff4 !important
}

::-webkit-scrollbar-track {
  display: block !important
  visibility: visible !important
  border: none !important
  background: transparent !important
}

::-webkit-scrollbar-track-piece {
  display: block !important
  visibility: visible !important
  border: none !important
  background: transparent !important
}
