@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans')
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
@import url('https://cdn.rawgit.com/nagoshiashumari/Rpg-Awesome/d22edef6/css/rpg-awesome.min.css')

body {
  font-family: 'PT Sans'
}
