@require 'base'
@require 'transparent'
@require 'mixins'

body {
  background: transparent !important
}

#app-mount .app {
  window()
  position: absolute
  margin: 1px
  margin-right: 1px
  padding-top: 34px
  padding-right: 5px
  padding-bottom: 0
}

#app-mount .titlebar {
  window-title()
  position: absolute
  top: 1px // reenable resize hack
  right: 0
  width: initial
  height: 35px

  &:before {
    position: relative
    top: .4rem
    left: .3rem
    content: 'XIVCord'
  }

  &:after {
    right: .8rem !important
    left: .8rem !important
  }

  .titlebar-edge {
    display: none
  }

  .win-buttons {
    top: -8px
    right: 8px
  }
}

.guilds-wrapper {
  padding-bottom: 1rem
  width: 60px

  .guilds {
    padding-top: .2rem
    padding-left: 0

    .new-message-indicator {
      // TODO!!!
    }

    .guild {
      red-button()

      &.unread {
        &:before {
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          margin: 0
          width: initial
          height: initial
          border-radius: .5rem
          background: transparent
          box-shadow: 0 0 2px 1px #fff8cb
        }
      }

      .guilds-add-inner {
        overflow: visible
        background: transparent !important
        text-transform: none
        font-weight: 400
        font-style: normal
        font-variant: normal
        font-size: 0
        font-family: RPGAwesome
        line-height: 1
        speak: none

        &:before {
          gold-tint()
          position: relative
          top: -.25rem
          content: ''
          font-size: 2rem
          line-height: 2.25rem
        }
      }

      .badge {
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        margin: 0
        width: initial
        height: initial
        border-radius: .5rem
        background: transparent
        box-shadow: 0 0 2px 1px #b87aff
        font-size: 0
      }

      .guild-inner {
        overflow: visible
        border-radius: 0 !important
        background: transparent !important

        a {
          width: auto
          height: auto

          &.avatar-small {
            margin-top: calc(-.25rem - 1px)
            margin-left: calc(-.25rem - 1px)
            width: 2.5rem
            height: 2.5rem
            border-radius: 1rem
            background-size: 2.5rem

            &:not(:empty) {
              gold-tint()
              font-weight: bold
              font-size: 2rem !important
              line-height: 2.25rem
            }
          }
        }

        .friends-icon {
          width: auto
          height: auto
          background: transparent !important
          text-transform: none
          font-weight: 400
          font-style: normal
          font-variant: normal
          font-size: 2rem
          font-family: RPGAwesome
          line-height: 1
          speak: none

          &:before {
            gold-tint()
            content: ''
          }
        }
      }
    }
  }
}

.channels-wrap {
  clickThrough(before)
  padding-left: 10px

  &:before {
    vertical-line()
  }

  > [class*='flex'] {
    [class*='flexChild'] {
      margin-left: -8px
    }
  }

  .containerDefault-1bbItS {
    padding-top: 1rem

    [class*='flex'] {
      padding-left: 5px

      svg {
        display: none
      }

      [class*='nameDefault'],
      [class*='nameHovered'],
      [class*='nameCollapsed'] {
        position: relative
        color: #75d2e6
        text-transform: inherit
        letter-spacing: -1px
        font-variant: small-caps
        font-size: 1rem
        transition: color .5s

        &:after {
          position: absolute
          right: 5px
          display: inline-block
          content: '\f35e'
          text-transform: none
          font-weight: normal
          font-style: normal
          font-variant: normal
          font-family: 'Ionicons'
          line-height: 1
          transition: transform .5s ease
          speak: none
          text-rendering: auto
          -webkit-font-smoothing: antialiased
        }
      }

      [class*='nameHovered'] {
        color: lighten(#75d2e6, 10)
      }

      [class*='nameCollapsed']:after,
      [class*='nameHoveredCollapsed']:after {
        transform: rotate(90deg)
      }
    }
  }

  .containerDefault-7RImuF {
    svg {
      display: none
    }

    [class*='wrapper'] [class*='unread'] {
      display: none
    }

    [class*='nameDefaultText'],
    [class*='nameDefaultVoice'] {
      color: #eee1c5
    }

    [class*='nameUnreadText'] {
      color: #b87aff
    }

    [class*='nameUnreadText']:before {
      filter: hue-rotate(200deg)
    }

    [class*='nameMutedText'],
    [class*='nameLockedVoice'] {
      color: darken(#eee1c5, 50)
    }

    [class*='nameSelectedText'],
    [class*='nameHoveredText'],
    [class*='nameSelectedVoice'],
    [class*='nameHoveredVoice'] {
      color: lighten(#eee1c5, 10)
    }

    [class*='nameSelectedText']:before,
    [class*='nameHoveredText']:before,
    [class*='nameMutedText']:before,
    [class*='nameDefaultText']:before,
    [class*='nameUnreadText']:before,
    [class*='nameLockedVoice']:before,
    [class*='nameDefaultVoice']:before,
    [class*='nameSelectedVoice']:before,
    [class*='nameHoveredVoice']:before,
    [class*='nameLockedVoice']:before {
      position: relative
      top: .1rem
      display: inline-block
      margin-right: .2rem
      width: 1rem
      height: 1rem
      background-image: url('img/pet.png')
      background-size: cover
      content: ''
    }

    [class*='nameLockedVoice']:before,
    [class*='nameMutedText']:before {
      filter: brightness(40%)
    }

    [class*='contentSelectedText'],
    [class*='contentSelectedVoice'] {
      border-radius: 0
      border-top-left-radius: .75rem
      border-bottom-left-radius: .75rem
      background: linear-gradient(to right, #eee1c544, transparent)
      // box-shadow: 0 0 5px #eee1c544
    }

    [class*='contentSelectedVoice'] {
      background: linear-gradient(to right, #b87aff44, transparent)
    }

    [class*='contentHoveredText'],
    [class*='contentHoveredVoice'] {
      border-radius: 0
      border-top-left-radius: .75rem
      border-bottom-left-radius: .75rem
      background: linear-gradient(to right, alpha(darken(#eee1c5, 50), .3), transparent)
      // box-shadow: 0 0 5px #eee1c544
    }

    [class*='nameDefaultVoice']:before,
    [class*='nameSelectedVoice']:before,
    [class*='nameHoveredVoice']:before,
    [class*='nameLockedVoice']:before {
      background-image: url('img/chocobo.png')
    }
  }
}

.layer:first-child {
  clickThrough(before)

  &:before {
    horizontal-line(top)
    top: 55px
    left: 60px
    z-index: 666
  }
}

.chat {
  .header-toolbar {
    .separator-win {
      display: none
    }
  }
}

/*
   
   .button {
   background: linear-gradient(to bottom, #5b5b5b, #4c4c4c 50%, #373737 51%, #454545);
   border: 1px solid #171717;
   border-radius: 1rem;
   color: #dedede;
   text-shadow: 0 1px 0 black;
   box-shadow:
   0 1px 1px -1px white inset,
   0 -1px 1px -1px black inset;
   position: relative;
   margin: 0.2rem 0.5rem;
   padding: 0.2rem 1rem;
   }
   
   .button:hover {
   cursor: pointer;
   }
   
   .button:hover:after {
   content: "";
   pointer-events: none;
   background: rgba(255, 255, 255, 0.1);
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   border-radius: 1rem;
   }
   
   .button.disabled {
   cursor: default;
   }
   
   .button.disabled:after {
   content: "";
   pointer-events: none;
   background: rgba(0, 0, 0, 0.4);
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   border-radius: 1rem;
   }
*/
