// change default font
@require 'base';
// make ui as transparent as possible
@require 'transparent';
@require 'mixins';

// basically hide the titlebar
@require 'elements/titlebar';
// overall window style
@require 'elements/window';
// guild scroller on the left
@require 'elements/guildscroller';
// channel scroller after that
@require 'elements/channels';
// messages and message area
@require 'elements/messages';

body {
  background: transparent !important;
}
