@require 'base'
@require 'transparent'
@require 'mixins'

@require 'elements/titlebar'
@require 'elements/window'
@require 'elements/guildscroller'
@require 'elements/channels'

@require 'elements/messages'

body {
  background: transparent !important
}
