
.connecting,
.theme-dark .guild-header header,
section.flex-verticle.flexspacer,
.theme-dark .layer,
.theme-dark .guild-wrapper,
.theme-dark .channels-wrap,
.theme-dark .guild-channels-wrapper,
.theme-dark .scroller.messages,
.theme-dark .messages-wrapper,
.theme-dark .messages .message-text,
.theme-dark .chat,
.theme-dark .chat>.content,
.theme-dark .channel-members,
.theme-dark #friends,
.theme-dark #friends .friends-table,
.theme-dark .popout,
.theme-dark .pop-out .user-popout,
.theme-dark .chat .title-wrap,
.guilds-wrapper,
.account,
.theme-dark .guild-channels,
.theme-dark .chat .content form .typing,
.guild-channels .channel-text.selected,
.guild-channels .channel-text:hover,
.private-channels .channel.selected,
.private-channels .channel:hover,
.theme-dark #friends .friends-header,
.search-bar,
#voice-connection,
.account .btn,
#voice-connection .btn,
.theme-dark .layers,
.channels-wrap > div,
.container-2OU7Cz,
.channels-3g2vYe,
.container-RYiLUQ {
	background: transparent !important
}

.scroller::-webkit-scrollbar-track,
.scroller::-webkit-scrollbar-track-piece {
	background: transparent !important
}
